html {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 10px;
  background-color: hsl(185, 41%, 84%);
}

.logo {
  padding: 50px 0;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: hsl(0, 0%, 100%);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.bill {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.bill h1 {
  font-size: 1.5rem;
  color: hsl(186, 14%, 43%);
  padding-bottom: 10px;
}
.bill .billAmount {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2rem;
  background-color: hsl(189, 41%, 97%);
  border-radius: 5px;
}
.bill .billAmount input {
  width: 80%;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 2rem;
  color: hsl(183, 100%, 15%);
  background-color: hsl(189, 41%, 97%);
  text-align: right;
  border: none;
}
.bill .billAmount input:focus {
  outline: none;
  border: none;
}

.tipSelection {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
}
.tipSelection h1 {
  font-size: 1.5rem;
  color: hsl(186, 14%, 43%);
  padding-bottom: 10px;
}
.tipSelection .tipProcentages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.tipSelection .tipProcentages button {
  margin: 10px;
  width: 105px;
  height: 40px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 2rem;
  background-color: hsl(183, 100%, 15%);
  color: hsl(189, 41%, 97%);
  border-radius: 5px;
}
.tipSelection .tipProcentages button:focus {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}
.tipSelection .tipProcentages button:hover {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}
.tipSelection .tipProcentages input {
  margin: 10px;
  width: 105px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 2rem;
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  text-align: right;
  border: none;
  border-radius: 5px;
}
.tipSelection .tipProcentages input:focus {
  outline: none;
  border: none;
}

.numOfPeople {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 0 20px;
}
.numOfPeople h1 {
  font-size: 1.5rem;
  color: hsl(186, 14%, 43%);
  padding-bottom: 10px;
}
.numOfPeople .peopleSelector {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2rem;
  background-color: hsl(189, 41%, 97%);
  border-radius: 5px;
}
.numOfPeople .peopleSelector input {
  width: 80%;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 2rem;
  color: hsl(183, 100%, 15%);
  background-color: hsl(189, 41%, 97%);
  text-align: right;
  border: none;
}
.numOfPeople .peopleSelector input:focus {
  outline: none;
  border: none;
}

.resultsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 90vw;
  height: 220px;
  color: hsl(189, 41%, 97%);
  font-size: 1.1rem;
  background-color: hsl(183, 100%, 15%);
  border-radius: 10px;
}
.resultsSection p {
  color: hsl(184, 14%, 56%);
}
.resultsSection .results {
  display: flex;
  justify-content: space-between;
}
.resultsSection .tipAmount, .resultsSection .total {
  padding-bottom: 20px;
}
.resultsSection .resultsNumbers {
  font-size: 3rem;
  color: hsl(172, 67%, 45%);
}
.resultsSection .resultsNumbers .tipAmountNum {
  padding-bottom: 10px;
}
.resultsSection button {
  padding: 8px 0;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 2rem;
  background-color: hsl(172, 67%, 45%);
  border-radius: 5px;
}
.resultsSection button:focus {
  background-color: hsl(185, 41%, 84%);
}
.resultsSection button:hover {
  background-color: hsl(185, 41%, 84%);
}

footer {
  padding-top: 30%;
  position: sticky;
}

@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .container {
    max-width: 90%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  body .resultsSection {
    width: 75vw;
  }
}
@media (min-width: 992px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 800px;
  }
  .desktopViewLeft {
    padding-right: 20px;
  }
  .desktopViewLeft .tipProcentages {
    flex-wrap: wrap;
    width: 110%;
  }
  .desktopViewRight {
    padding-left: 20px;
  }
  .desktopViewRight .resultsSection {
    justify-content: space-around;
    width: 350px;
    height: 350px;
  }
  footer {
    padding-top: 5%;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=main.css.map */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
}

.achievements {
  padding: 20px;
  background-color: #039dff;
}
.achievements i {
  margin-top: 20px;
  font-size: 30px;
}
.achievements .achievements-card-title {
  font-size: 18px;
  text-transform: uppercase;
}
.achievements .achievements-card-text {
  font-size: 14px;
}

.contact {
  position: relative;
  background-image: url("../img/city-small.jpg");
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  z-index: 0;
}
.contact .section-title {
  color: #ddd;
}
.contact .underline {
  background-color: #ddd;
}
.contact .contact-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 9, 27, 0.85);
  z-index: -5;
}
.contact .contact-us {
  display: flex;
  align-items: center;
  color: #fff;
}
.contact .contact-item {
  margin: 30px 0;
}
.contact .contact-item h3 {
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.contact .contact-item .social-media {
  font-size: 26px;
}
.contact .contact-item a {
  padding: 10px;
  color: #fff;
  transition: color 0.3s;
}
.contact .contact-item a:hover {
  color: #039dff;
}

@media (min-width: 768px) {
  .hero-text h1 {
    font-size: 42px;
  }
  .hero-text p {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  html {
    scroll-padding-top: 72px;
  }
}
@media (min-width: 1200px) {
  header {
    background-image: url("../img/main-big.jpg");
  }
  .aboutus-img {
    background-image: url("../img/technology-big.jpg");
  }
}
@media (min-width: 576px) {
  .card-body {
    height: 200px;
  }
}/*# sourceMappingURL=main.css.map */