body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: #333;
}
/*HAMBURGER MENU*/
.topnav {
    overflow: hidden;
    background-color: #fff;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
  }
  
  .topnav a.icon {
    font-size: 15px;
    background: #e0dddd;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .active {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }

  .topnav__menu--button{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.topnav__button {
    padding: 10px 5em 10px 5em;
    background-color: #04ddb2;
    font-size: 25px;
    color: white;
    border: none;
    border-radius: 25px;
}
/* END OF HAMBURGER MENU*/
/*CONTENT*/
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align-last: center;
  max-width: 550px;
}

.content__heading {
  margin-top: 1em;
  margin-bottom: 12px;
  font-size: 56px;
  font-weight: bolder;
}

.content__heading--greeen{
  color: #04ddb2;
}

.content__heading--text{
  text-align: center;
  max-width: 400px;
  font-weight: 5800;
}
/*END OF Content*/
/*VIDEO*/
.video {
  display: flex;
  justify-content: center;
  padding-top: 6rem;
}

.video__border {
  border: solid #E8EDF0 20px;
  border-radius: 25px;
  border-left: solid #E8EDF0 50px;
  border-right: solid #E8EDF0 50px;
}
/*END OF VIDEO*/
/*DOWNLOAD*/
.download {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
}

.download__text {
  font-size: 40px;
  font-weight:bolder;
  text-align: center;
}

.button__download {
  margin-top: 40px;
  padding: 10px 40px 10px 40px;
  background-color: #04ddb2;
  font-size: 25px;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
}

/*END OF DOWNLOAD*/
/*FOOTER*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: first baseline;
  margin-top: 80px;
}

.footer__about{
  padding: 50px;
  line-height: 40px;
  text-align: center;
}

h3 {
  font-weight: bold;
}

.footer__icons {
  padding-top: 6px;
  line-height: 60px;
}

.sub__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  line-height: 40px;
  text-decoration: none;
}

