@use './reset';

body {
    font-family: 'Comfortaa', sans-serif;
    font-size: 10px;
    background-color: lightslategrey;
}

.main-square {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: calc(-50%, -50%);
    height: 200px;
    width: 300px;
}